<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>@ViewData["Tittle"]</title>
    </head>
<body>
    <div>
        @RenderBody()
    </div>
    <div>
        [<a href="/MyDefault/Index">Index</a>]
        [<a href="/MyDefault/AddContact">AddContact</a>]
    </div>
</body>
</html>
